<h3 class="add-space">{{username}} : Create a New Post</h3>
<div class="row mt-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header back-color">
        <label for="post-title">Title:</label>
      </div>
      <div class="card-body">
        <textarea id="post-title" name="post-title" style="width: 100%; height: 100%; padding: 10px;"
          rows="1"></textarea>
      </div>
      <div class="card-header back-color">
        <label for="post-content">Content:</label>
      </div>
      <div class="card-body">
        <textarea id="post-content" name="post-content" style="width: 100%; height: 100%; padding: 10px;"
          rows="1"></textarea>
      </div>
      <button class="btn btn-primary" id="add-post">CREATE</button>
    </div>
  </div>
</div>
<